.photo-gallery {
  @include grid-container;
  padding: 20px 0;

  &__list-item {
    @include grid-column(2);
    margin-top: 20px;
    padding: 5px;
    border: 1px solid rgba(200, 200, 200, 1);
    border-radius: 2px;
    background: rgba(245, 245, 245, 1);
    text-align: center;
  }

  &__image {
    display: block;
    width: 140px;
    height: 140px;
    margin: 0 auto;
  }
}
