$neat-grid: (gutter: 0);
$image-size: 140px;

.photo-gallery {
  @include grid-container;
  @include grid-collapse;
  width: ($image-size * 6) + 22;
  margin: 0 auto;

  &__header {
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;

    h2,
    h3 {
      margin: 0;
    }

    h2 {
      font-size: 40px;
    }

    h3 {
      font-family: $base-font-family;
      font-size: 24px;
      font-weight: bold;
    }
  }

  &__list {
    @include clearfix;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid $color-silver;
    background-color: $color-clouds;
  }

  &__list-item {
    @include grid-column(2);
    position: relative;

    &:hover .photo-gallery__mouseover {
      display: flex;
    }
  }

  &__image {
    display: block;
    width: $image-size;
    height: $image-size;
  }

  &__mouseover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    width: $image-size;
    height: $image-size;
  }

  &__favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $image-size;
    height: $image-size;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1;
  }

  &__favorite-icon,
  &__favorite-icon:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    box-shadow: 0 5px 10px $color-wet-asphalt;
  }

  &__favorite-icon--select,
  &__favorite-icon--select:hover {
    border: 2px solid $color-transparent;
    background: $color-alizarin;
    color: $color-white;
  }

  &__favorite-icon--unselect,
  &__favorite-icon--unselect:hover {
    border: 2px solid $color-alizarin;
    background: $color-transparent;
    color: $color-alizarin;
  }
}
