.primary-nav {
  $nav-bar-height: 60px;

  @include grid-container;
  background: $color-dark-gray;
  color: $color-light-gray;

  &__logo {
    @include grid-column(6);
    font: 700 1.25em $heading-font-family;
    line-height: $nav-bar-height;
  }

  &__list {
    @include grid-column(6);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__list-item {
  }

  &__oauth-link,
  &__oauth-link:active,
  &__oauth-link:visited,
  &__oauth-link:hover {
    display: flex;
    align-items: center;
    height: $nav-bar-height;
    margin: 0;
    padding: 0 8px 0 16px;
    background: $color-dark-gray;
    color: $color-clouds;
    font-size: 0.9em;
    font-weight: bold;
    line-height: $nav-bar-height;
    text-transform: uppercase;
  }

  &__oauth-link--signout,
  &__oauth-link--signout:active,
  &__oauth-link--signout:visited,
  &__oauth-link--signout:hover {
    padding: 0 16px;
  }

  &__oauth-logo {
    width: 32px;
    height: 32px;
    margin-left: 4px;
  }
}
