<ul class='photo-gallery'>
  <% @photos.each do |photo| %>
    <li class='photo-gallery__list-item'>
      <%= link_to "https://500px.com#{photo.url}" do %>
        <img src="<%= photo.image_url %>" alt="<%= photo.name %>" class='photo-gallery__image'>
      <% end %>
      <%= link_to 'Favorite', favorite_photo_path(photo.id), method: :patch, remote: true, class: 'photo-gallery__favorite' %>
    </li>
  <% end %>
</ul>
