<ul class='photo-gallery'>
  <% @photos.each do |photo| %>
    <li class='photo-gallery__list-item'>
      <img src="<%= photo.image_url %>" alt="<%= photo.name %>" class='photo-gallery__image'>
      <div class='photo-gallery__user'>
        <img src="<%= photo.user.dig(:avatars, :large) %>" alt="<%= photo.user.dig(:fullname) %>" class='photo-gallery__user-image'>
      </div>
    </li>
  <% end %>
</ul>
