<nav class='primary-nav'>
  <div class='primary-nav__container'>
    <div class='primary-nav__logo'>Photography</div>
    <ul class='primary-nav__list'>
      <% unless user_signed_in? %>
        <li class='primary-nav__list-item primary-nav__list-item--sign-in'>
          <%= link_to '/auth/500px', class: 'primary-nav__oauth-link' do %>
            <span>Sign in with</span>
            <%= image_tag '500px', alt: '500px Logo', class: 'primary-nav__oauth-logo' %>
          <% end %>
        </li>
      <% else %>
        <li class='primary-nav__list-item'>
          <%= link_to('Sign out', logout_path, :method => :delete) %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
