<nav class='primary-nav'>
  <div class='primary-nav__container'>
    <div class='primary-nav__logo'>Photography</div>
    <ul class='primary-nav__list'>
      <% unless user_signed_in? %>
        <li class='primary-nav__list-item'>
          <%= link_to 'Sign in with 500px', '/auth/500px' %>
        </li>
      <% else %>
        <li class='primary-nav__list-item'>
          <%= link_to('Sign out', logout_path, :method => :delete) %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
